@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Philosopher', sans-serif;
    }
.Link{
  text-decoration: none;
}
button{
  cursor: pointer;
}
.container{
    width: 100%;
    max-width: 1000px;
    margin:30px auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* margin-top: 30px; */
    height: auto;
  }
.myprofile{
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(105, 6, 129, 0.24) 0px 10px 8px;
    border-radius: 10px;
    padding: 10px;
  }
.leftProfile{
    display: flex;
  }
.myprofile picture{
    margin:0 2%;
  }
.myImg{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    /* border-top-left-radius: 10px; */
    /* border-bottom-left-radius: 10px; */
    border: 1px solid  #9826AB;

  }
.table{
    /* width: 100%; */
    box-shadow: rgba(105, 6, 129, 0.24) 0px 10px 8px;

  }
  table{
    border-collapse: collapse;
  }
.row1{
    background: linear-gradient(to bottom,#AA31C2, #f4e2d8);
  }
.row1 th{
    text-align: center;
    padding: 10px;
    color: white;
  
  }
.btnProfile{
    border: none;
    padding: 10px;
    color: white;
    /* align-self: flex-end; */
    margin-right: 10%;
    /* float: right; */
    border-radius: 8px;
  }
.bold{
    font-weight: bold;
    font-size: 16px;
  }
.Name,.Email{
    color: #4e4b4b;
    font-size: 14px;
  }
.Email{
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* white-space: wrap; */
    word-wrap: break-word;
  }
@media screen and (max-width: 500px){
  
    .dNone{
      display: none;
    }
    .leftProfile{
      display: block;
    }
    .container{
      margin:10px auto;
    }
  }