.form{
    /* margin: auto; */
    box-shadow: rgba(105, 6, 129, 0.24) 0px 10px 8px;
    border-radius: 10px;
    /* margin: 30px 0; */
    /* width: 100%; */
    display: flex;
    width: 800px;
    max-width: 100%;
    margin: 20px auto;

    /* justify-content: space-between; */
}
.form picture{
    /* width: 50%; */
}
.imgPhone{
    height: 100%;
    width: 400px;
    max-width: 90%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.contentForm{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 5% auto;

}
.input{
    padding: 5px;
}
.btnSubmit{
    background-color: rgb(170, 49, 194);
    padding: 10px;
    color: white;
    /* width: 50%; */
    border:none;
    /* clear: both; */
}
@media screen and (max-width: 500px){
    .form{
        flex-direction: column;
        width: 90%;
    }
    .imgPhone{
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
        max-width: 100%;
    }

  }